@model EvlerKiralik.DAL.Entities.User
@{
    Layout = null;
}
<form action="/Login/Login" method="post">

    <input type="text" name="txtUserName"  placeholder="userName"/>
    <input type="text" name="txtPassword" placeholder="password" />

    

    <button class="btn btn-success" type="submit"> Giriş Yap</button>
</form>
