

.headertext {
    padding:.5em;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 2em;
}
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 50rem;
    padding-top: 4em;
}

.left {
    width: 40%;
    display: flex;
    align-content: center;
    justify-content: center;

  
}

.right {
    width: 60%;
    align-content: center;
    justify-content: center;
    display: flex;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}
