

.headertext {
    padding:.5em;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 2em;
    margin:0 !important;
}
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 50rem;
    

}


.right {
  
    width: 70%;
    display: flex;
    align-content: center;
    justify-content: center;
  
    margin:0 auto;
 

}

.left {
    width: 30%;

    align-content: center;
    justify-content: center;
    text-align:left;
}
#postdetails {
    display: block;
    width: 100%;
    
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 10px;
    font-size:.8em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.module {
    background: #222;
    color: white;
    padding: 2rem;
}
#postdetails li {
    margin: 1em;
    border-bottom: 2px solid white;
    padding: 10px;
    transition: transform .5s; /* Animation */
}
    #postdetails li:hover {
        transform: scale(1.3);
        background-color:black;
    }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }


/*DATE PİCKER*/


:root {
    /* Set fade in duration */
    --fade-time: 0.5s;
}



.container {
    max-width: 760px;
  
    border: #fff solid 3px;
    background: #fff;
}

.main-img img,
.imgs img {
   width:100%;
  

  
}

.imgs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

    .imgs img {
        cursor: pointer;
    }

/* Fade in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

/* Media Queries */
@media(max-width: 600px) {
    .imgs {
        grid-template-columns: repeat(1, 2fr);
    }

}


/*DENEME*/
nav {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

nav > ul > li {
    display: inline-block;
}

    nav > ul > li > a {
        text-transform: uppercase;
        padding: 4px 10px;
        margin-right: 2px;
        margin-left: 2px;
        text-decoration: none;
        color: #27A4DD;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 25px;
        border: 1px solid #27A4DD;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }

.hidden {
    display: none;
}

nav > ul > li > a:hover, .current a {
    color: #fff;
    background-color: #27A4DD;
}

#projects > ul > li {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 23%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    /* Padding stays within the width */
    box-sizing: border-box;
    position: relative;
    opacity: 0.7;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#projects
{
  
}
    #projects > ul > li:hover {
        opacity: 1;
    }

img {
    max-width: 100%;
    border-radius: 25px;
    height:auto;
    margin:0 auto;
}

.gallery {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    padding: 40px 10px;
    display: none;
    margin:0 auto;
    box-sizing: border-box;
}

    .gallery > img {
        height: 90%;
        width: auto;
        margin:auto;
    }

.close i {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
}

.bar {
    display: block;
    position: absolute;
    top: 13px;
    float: left;
    width: 30px;
    border-bottom: 4px solid #fff;
    transform: rotate(45deg);
}

    .bar:first-child {
        transform: rotate(-45deg);
    }

@media (max-width: 768px) {
    #projects > ul > li {
        width: 48%;
    }
    .column {
        padding: 10px;
        height: 100%;
        display:block;
        justify-content:center;
        align-content:center;
    }
    .right {
        width: 100%;
       text-align:center;
        align-content: center;
        justify-content: center;
        margin: auto;
    }

    .left {
        width: 100%;
        align-content: center;
        justify-content: center;
        text-align: left;
    }
    .gallery > img {
        height: 100%;
        width: auto;
        margin: auto;
    }
}

@media (max-width: 568px) {
    #projects > ul > li {
        width: 100%;
    }
}