@using EvlerKiralik.DAL.Entities
@using System.Security.Claims
@model dynamic

@{
    ViewData["Title"] = "IlanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link rel="stylesheet" href="@Url.Content("~/css/table.css")" asp-append-version="true" />

@section scripts
{

    <script>
       
      
        $(function () {

            $("#getbutton").click(function (e) {
                            var gonderi;
            let sayi = document.getElementById("gonderisayi").value;
                $.ajax({
                    url: '/Admin/GonderisTek',
                    data: { p: sayi },
                    type: "POST",
                    dataType: "Json",
                    success: function (data) {

                        console.log(data);
                        console.log(sayi);
                       // $('#arraydiv').empty();
                      
                        data = JSON.stringify(data);
                        gonderi = JSON.parse(data);
                        console.log("parse data= "+ gonderi.ilanAdi);                      
                        //$('#arraydiv').append("<input type='text' value='"+ gonderi.ilanAdi +"' />");
                        $('#redbutton').val(gonderi.ilanId);
                        $('#onaybutton').val(gonderi.ilanId);
                        $('#ilanadi').html(gonderi.ilanAdi);
                     sayi = parseInt(sayi)+ 1;
                     document.getElementById("gonderisayi").setAttribute('value',sayi);
                         }
            });
        });
        });
    </script>
}
<input id="gonderisayi" type="number" value="0"/>
<button type="button" id="getbutton">Sıradaki Gonderi" </button>
             
                  <div id="arraydiv" class="container-fluid" style="display:flex;">
   

        <form action="/Admin/GonderiReddet" method="post">
            <input id="redbutton" type="hidden"  name="gonderiID" >
        <input type="submit" style="display:block;" class="btn btn-danger" value="Reddet" />
    </form>

    <form action="/Admin/GonderiOnayla" method="post">
            <input id="onaybutton" type="hidden"  name="gonderiID" >
        <input type="submit" style="display:block;" class="btn btn-success" value="Onayla" />
    </form>
            



<table id="UserTable">
    <thead>
        <tr>
            <td>
                İlan adı
            </td>
        
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="ilanadi">
              
         
            </td>
         
        </tr>
    </tbody>
    


</table>
  }
    </div>
    
            