@using EvlerKiralik.DAL.Entities
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using System.Web.Mvc

@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}



<h1>Anasayfa</h1>

