
@{
    ViewData["Title"] = "KiralikEvler";
    //Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}


<div id="animateloadingdiv">

<ul class="cards">
   
    <li>
      
        <a class="card">

            <i id="likebutton"  class="fa-solid fa-heart fa-2xl" style="position:absolute;right:20px;top:40px;  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;"></i>
            <img  href="/Home/Privacy" src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
       
            <div class="card__overlay" href="">
            
                <div class="card__header" >
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                    <div class="card__header-text">
                        <h3 class="card__title">Jessica Parker</h3>
                        <span class="card__tagline">
                            <ul id="menu">
                            <li><i class="fa-solid fa-location-crosshairs"></i> Manisa / Merkez  </li>
                                <li><i class="fa-solid fa-house-chimney-window"></i> 3+1 </li>
                                <li><i class="fa-solid fa-house-fire"></i> Doğalgaz</li>
                        </ul> </span>
                        <span class="card__status">1 hour ago</span>
                    </div>
                </div>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
            </div>
        </a>
    </li>


  
     

</ul>
</div>

